@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

/* reset */
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    
}

/* -------------- */

body{
    max-width: 1280px;
    margin: 0 auto;
}

main:after{
    content: '';
    min-height: 100vh;
    min-width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #000000 10%, #0000000f 50%, #000000 90%);
    z-index: -1;

}

.content{
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-evenly;
}

/*
*/
.info .logo{
    max-width: 350px;
    filter: invert(1);
    margin-bottom: 80px;
}

.info .description{
    width: 50%;
    font-size: 24px;
    color: #ffffff;
    line-height: 30px;
}

.carousel-buttons{
 
    display:flex;
    justify-content: center;
    gap: 20px;

}

.carousel-buttons .botao{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
    border-color: #ffffff;
    background-color: #ffffff;
}

.carousel-buttons .botao.selected{
    background-color: #1d8346;
}

.lateral-menu{
    
    top: 0;
    right: 0;
    width: 60px;
    position: fixed;
    
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.lateral-menu ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.lateral-menu .icon{
    width: 30px;
    filter: invert(1);
    transition: ease-in-out 0.3s;
    
}

.lateral-menu .icon:hover{
    transform: scale(1.4);
    text-decoration: none;

}

.carousel{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.carousel .images{
    width: 100%;
    height: 100vh;
    object-fit: cover;

    display: none;

    animation: changeImage 0.7s;
}

.carousel .images.selecionada{
    display: block;
}

@keyframes changeImage{
    from{
        opacity: 0.85;
    }
    to{
        opacity: 1;
    }
}
